<div class="pane">
  <div class="elements-container-box">
      <div class="box-title">Form Element Options</div>
      <div class="element-holder">
        <app-button-element></app-button-element>
      </div>
      <div class="element-holder">
        <app-textbox-element></app-textbox-element>
      </div>
      <div class="element-holder">
        <umsa-check-box-element></umsa-check-box-element>
      </div>
      <div class="element-holder">
        <umsa-radio-box-element></umsa-radio-box-element>
      </div>
      <div class="element-holder">
        <umsa-label-element></umsa-label-element>
      </div>
      <div class="element-holder">
        <umsa-horizontal-line-element></umsa-horizontal-line-element>
      </div>
      <div class="element-holder">
        <umsa-vertical-line-element></umsa-vertical-line-element>
      </div>
      <div class="element-holder">
        <umsa-combo-box-element></umsa-combo-box-element>
      </div>
      <!--<umsa-checkbox-group></umsa-checkbox-group>-->
  </div>
</div>
