.pane {
  background-color: lightgrey;
  display: inline-block;
  width: 3in;
  max-height: 9in;
  margin: 10px;
  border-radius: 1%;
  text-align: center;
  padding-bottom: 20px;
}


#widgetName {
  font-weight: bolder;
}

#widgetSelecetionMessage {
  font-weight: bolder;
}