.element-heading {
  font-weight: bolder;
}

div.element-container {
  height: 107px;
  position: relative;
}

div.element-container span {
  position: absolute;
  bottom: 0px;
  left: 17%;
}

div.element-container div#comboBox {
  width: 100%;
  height: 106px;
}

div.element-container div#comboBox select {
    margin: 33px 10px 10px 12px;
    padding: 5px;
    border-radius: 12px;
}
